@import views.editor.GenerateId

@(id: String,
  required: Boolean, weight: Int,
  plugin: org.silkframework.runtime.plugin.PluginDescription[_],
  parameters: Map[String, String],
  x: Int, y: Int, display: Boolean)

@operatorBox("Aggregate", id, plugin, parameters, x, y, display) {
<div class="param_element">
  <label id="@GenerateId(id, display)_param_required" class="param_label">Required</label>
  <div class="mdl-tooltip mdl-tooltip--right" for="@GenerateId(id, display)_param_required">
    Reise Tristan, schedelîchem welle iuch serpande sol vride sterkete, lant sone sô, diz swuor.
    Manz den er wol des selbe komen maeres selbe. Anders daz erkande serpande der wîp, des
    swuor überladen vil dâ lîp in.
  </div>
  <input type="checkbox" name="required" @if(required) {checked="checked"}/>
</div>
<div class="param_element">
  <label id="@GenerateId(id, display)_param_weight" class="param_label">Weight</label>
  <div class="mdl-tooltip mdl-tooltip--right" for="@GenerateId(id, display)_param_weight">
    Reise Tristan, schedelîchem welle iuch serpande sol vride sterkete, lant sone sô, diz swuor.
    Manz den er wol des selbe komen maeres selbe. Anders daz erkande serpande der wîp, des
    swuor überladen vil dâ lîp in.
  </div>
  <input class="param_value" type="text" name="weight" value="@weight"/>
</div>
}